.wrapper
  
  %form{ action: "message", method: "post" }
    %input{ type: "text", name: "book", placeholder: "¿CUAL ES TU LIBRO, LOCO?", size: 75 }
    %input{ type: "integer", name: "amount", placeholder: "¿EN CUANTOS PAISES TRIUNFA TU LIBRO, LOCO?", size: 75 }
    %input{ type: "submit", value: "YA ESTA PAPU, TE DEJO 10!" }
