%h1 "Mi Libro..."
%form{ controller: "tool", action: "activation", method: "post" }
  %input{ type: "text", name: "libro", placeholder: "¿CUAL ES TU LIBRO, LOCO?", size: 100 }

%h1 "...Está siendo un exito de ventas en todos los paises de habla hispana..."

